footer{
   
    background-color: var(--bg-color);
    height: 80px;
    width: 100%;
}
.footer-contant{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.icons{
    width: 40px;
    position: absolute;
    top: 20%;
    left: 90%;
}