<section id="about">
    <div class="container">
       <div class="contant about-contant">
        <img src=".\..\..\..\../assets/img1.jpg" alt="img3" class="about-img">
        <div class="what-about">
            <h2>who we are</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis mollitia eius porro vel neque aspernatur repellat provident, quis voluptatum consequatur sit dolores architecto ea facere id, perferendis repudiandae magnam atque.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nulla cumque quod eveniet. Quos, doloremque. Ipsa odio in amet itaque?</p>
        </div>
       </div>
    </div>
   </section>