
<div class="reservation">
    <h2 class="title">Reservation Process</h2>
    <form>
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required >
      </div>
  
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" required >
      </div>
  
      <div class="form-group">
        <label for="age">Âge:</label>
        <input type="number" id="age" name="age" required >
      </div>
  
      <div class="form-group">
        <label for="tel">Numéro de téléphone:</label>
        <input type="tel" id="tel" name="tel" required >
      </div>
  
      <div class="form-group">
        <label for="cin">Numéro de CIN:</label>
        <input type="text" id="cin" name="cin" required>
      </div>
  
      <div class="form-group">
        <label for="email">Adresse mail:</label>
        <input type="email" id="email" name="email" required >
      </div>
  
      <div class="form-group">
        <label for="dateRetrait">Date de retrait:</label>
        <input type="date" id="dateRetrait" name="dateRetrait" required >
      </div>
  
      <div class="form-group">
        <label for="dateRetour">Date de retour:</label>
        <input type="date" id="dateRetour" name="dateRetour" required >
      </div>
  
      <div class="form-group">
        <label for="heureDepart">Heure de départ:</label>
        <input type="time" id="heureDepart" name="heureDepart" required >
      </div>
  
      <div class="form-group">
        <label for="heureRetour">Heure de retour:</label>
        <input type="time" id="heureRetour" name="heureRetour" required >
      </div>
  
      <div class="form-group">
        <label for="agenceDepart">Agence de départ:</label>
        <input type="text" id="agenceDepart" name="agenceDepart" required >
      </div>
  
      <div class="form-group">
        <label for="avecChauffeur">Avec chauffeur (oui / non):</label>
        <select id="avecChauffeur" name="avecChauffeur" required >
          <option value="oui">Oui</option>
          <option value="non">Non</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="modePaiement">Mode de paiement:</label>
        <input type="text" id="modePaiement" name="modePaiement" required >
      </div>
  
      <div class="form-group">
        <label for="codePostal">Code postal:</label>
        <input type="text" id="codePostal" name="codePostal" required >
      </div>
  
      <button type="submit">Submit Reservation</button>
    </form>
  </div>
  