<body>
  

<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"><h1 class="logo">PrestigeTN</h1></a>
      <button class="navbar-toggler btn-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home/serveces">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Cars List">Cars list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Add car">Add car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Log In">Log In</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"[(ngModel)]="carService.searsh" [ngModelOptions]="{ standalone: true }">

          <button class="btn btn-outline btn-bg" type="submit" ><a routerLink="/Cars List">Search</a></button>
        </form>
      </div>
    </div>
</nav>



</body>