<section class="login">
    <div class="container">
       <div class="contant">
        <div class="main-wrapper">
            <h2>Log In with <samp class="logo">PrestigeTN</samp></h2>
            <div class="panel log-in">
                <form action="">
                    <input type="text" placeholder="Enter your Name or Email" required>
                    <input type="password" placeholder="Enter your password" required>
                    <button><a routerLink="/Home">Log In</a></button>
                </form>
                <div class="devegin">
                    <div class="line"></div>
                    <p>OR</p>
                    <div class="line"></div>
                </div>
                <div class="log-in-with">
                    <a href="#" class="log-in-with-fs">Log in with FaceBook</a>
                    <a href="#" class="log-in-with-go">Log in with Google</a>
                    <a href="#" class="forgot">Forgot password</a>
                </div>
            </div>
            <div class="panel singn-up">
                <p>I don't have aconte :</p>
                <a routerLink="/Sing Up">Singn Up</a>
            </div>
        </div>
       </div>
    </div>
   </section>